doctype
html
  head
    meta(charset="UTF-8")
    title=title
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="/main.css")
  body
    .container
      .profile-wrap
        .profile
          if user && user.id
            .user-name='hello! ' + user.nick + 'ดิ'
            .half
              div following
              .count.following-count= user.Followings &&user.Followings.length ||0
            .half
              div follower
              .count.follower-count= user.Follwers&&user.FollowerS.length ||0
            input#my-id( type="hidden" value=user.id)
            a#my-profile.btn(href="/profile") my profile
            a#logout.btn(href="/auth/logout") logout
          else
            form#login-form(action="/auth/login" method="post")
              .input-group
                label(for="email") email
                input#email(type="email" name="email" required autofocus)
              .input-group
                label(for="password") pasword
                input#passw0rd(type="password" name="password" required)
              if loginError
                .error-message=loginError
                a#join.btn(href='/join') join
                button#login.btn(type='submit') login
                a#kakao.btn(href='/auth/kakao') kakaotalk
          footer
            | Made by&nbsp;
            a(href="https://www.zerocho.com" target="_blank") ZeroCho
          block content
